<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated housebuilderV2 -->
      <package
            uri="http://it.univaq.disim/housebuilderV2"
            class="housebuilderV2.HousebuilderV2Package"
            genModel="model/housebuilderV2.genmodel"/>
   </extension>

</plugin>
